/*stylesheet*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary);
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1 h2 h3 h4 h5 h6 p {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
}

:root {
  --primary: #F9F6EC;
  --secondary: rgb(rgb(249,243,202));
  --font-primary: rgb(rgb(15, 15, 15));
  --font-secondary: rgb(rgb(32, 31, 31));
  --hover: #f9f6ec;
}

.page-top {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-button {
  margin-left: 3rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: 'shadown Into Light', cursive;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  
}

.nav-button:hover {
  text-decoration: line-through;
  transition: .2s;
}

.nav-image {
width: 50%;
position: relative;
justify-content: center;
align-items: center;
}


img {
  width: 100%;
  height: 100%;
}

.grid-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  grid-auto-rows: max-content;
}

.grid-images {
  width: 100%;
  max-height: 100%;
  position: relative;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 100;
}

.grid-picture-inner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: var(--hover);
opacity: 0;
}

.inner-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 7%;
  text-align: center;
  z-index: 98;
  transition: opacity ease 200ms;
  color: var(--font-secondary);
}

.overlay:hover {
  opacity: 80%;
  transition: .5;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-delay: 0s;
}

.title {
  font-size: 3rem;
}

.about-me-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.about-me-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-rows: max-content;
  place-items: center;
/*   margin-left: 5rem;
 */}

.aboutme {
  position: relative;
  font-size: 1.35rem;
}

.aboutme-img {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 480px){

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.navbar-links {
  display:flex;
  flex-direction: column;
  position: relative;
}

.nav-button {
  margin: 0 auto;
  color: var(--font-primary);
}

  .nav-image {
    margin-top: 0;
    margin-left: 0;
    position: relative;
  }
}

@media screen and (max-width:880px) {
  .nav-image {
    width: 30em;
  }

  .grid-layout {
    justify-content: center;
  }

  .grid {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }

  .grid-images {
    max-height: 100%;
  }

  .about-me-wrapper {
    grid-template-columns: repeat(1,minmax(0,1fr));
    margin: 0 auto;
    place-items: center;
  }
}